<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {box-sizing: border-box;}

        body {
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }

        .header {
            background-color: #f1f1f1;
            padding: 8px 16px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            align-items: center;
        }

        .header a {
            float: left;
            color: black;
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            line-height: 25px;
            border-radius: 4px;
        }

        .header a:hover {
            background-color: #ddd;
            color: black;
        }

        .header a.active {
            background-color: dodgerblue;
            color: white;
        }

        .header-right {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(auto, 96px));
            grid-gap: 8px;
            justify-content: right;
        }

        .version-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
            grid-gap: 16px;
            padding-top: 16px;
        }

        .version-item {
            padding: 64px 0;
            display: grid;
            align-items: center;
            flex: 1;
            justify-content: center;
            justify-items: center;
            border-radius: 8px;
            grid-template-rows: auto;
        }

        .btn-success {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 4px;
            margin: 32px 0 0;
        }

        .btn-success:hover {
            background-color: #3a7d3b;
        }

        @media screen and (max-width: 500px) {
            .header h2 {
                float: none;
                display: block;
                text-align: left;
            }
            .header-right {
                float: none;
            }
        }
    </style>
</head>
<body>

<div class="header">
    <h2 class="logo">Vestalect Updater</h2>
    <div class="header-right">
        <a href="/home">Home</a>
        <a class="active" href="/core">Core</a>
    </div>
</div>

<div style="padding: 0 24px">
    <h1>Core</h1>
    <p style="display: inline-block">Visit the repo here:&nbsp</p><a style="display: inline-block" href="https://gitlab.com/vestalect/vestalect_core">https://gitlab.com/vestalect/vestalect_core</a>
    <div class="version-container">
        <div class="version-item" style="background-color: cadetblue">
            <h4 style="color: #fff">Current published version</h4>
            <h2 style="color: #fff" th:text="${publishedVersion}"></h2>
        </div>
        <div class="version-item" style="background-color: coral">
            <h4 style="color: #fff">Current installed version</h4>
            <h2 style="color: #fff" th:text="${installedVersion}"></h2>
        </div>
    </div>

    <a class="btn-success" href="/core/update">Update</a>
    <p>Only click this button once per upgrade! Refresh this page intermittently to check back if the version has been updated</p>
    <p>Note that the Updater (this webapp) may also get upgraded, thus this page may become unavailable for a short period of time.</p>
</div>

</body>
</html>
